# Copy this file to .env and fill in the values
# The .env file is gitignored — never commit it

# A long random string used to sign JWT tokens.
# Generate one with: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=change-me-to-a-long-random-string

# Absolute path (with trailing slash) to the directory containing OpenOCD .cfg files and firmware .bin files on the Pi
# Example: /home/retroboy69/Remote32/backend/configs/devices/
CONFIG_PATH = /home/retroboy69/config_files/
BIN_PATH = /home/retroboy69/bin_files/
